POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_pass
POSTGRES_DB=your_database_name
PGSQL_CONN=postgresql://your_username:your_pass@db:5432/your_database_name
PGADMIN_MAIL=admin@gamelens.com
PGADMIN_PASS=admin123
CLASSIFIER_SERVICE_HOST_URL=http://event_classifier:7761
